<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Pokedex Blue-EdTech</title>
</head>

<body>
    <!-- sintaxe para trazer o header em outro arquivo -->
    <%- include('partials/header.ejs') %> 
   <main>
        <section id="pokemons">  
            <% pokedex.forEach((pokemon) => { %>
            <a href="/detalhes/<%= pokemon.id %>">
                <article class="card">
                    <div class="card_img"> 
                        <img src="<%= pokemon.imagem %>" alt="<%= pokemon.nome %>">
                    </div>
                    <div class="nomeEtipo"> 
                        <%= pokemon.nome %>
                        <br/> Tipo: <%= pokemon.tipo %>
                    </div>
                </article>
            </a>    
            <% }) %>
        </section>
    </main>
    <!-- sintaxe para trazer o footer em outro arquivo -->
    <%- include('partials/footer.ejs') %>
</body>
</html>
